{% extends  'base.html' %}
{% load hitcount_tags %}
{%block main%}
    <div class="container">
        <!--Navigation-->
        <div class="navigate">
            <span><a href="{%url 'home'%}">MyForum - Forums</a> >> <a href="{{post.sections.all.0.get_url}}">{{post.sections.all.0}}</a> >> <a href="{{post.get_url}}">{{post.title}}</a></span>
        </div>

        <!--Topic Section-->
        <div class="topic-container">
            <!--Original thread-->
            <div class="head">
                <div class="authors">Автор</div>
                <div class="content">Тема:   {{post.title}} (Read {{post.visit_count}} Times)</div>
            </div>

            <div class="body">
                <div class="authors">
                    <div class="username"><a href="">{{post.user.user.username}}</a></div>
                    <div>Role</div>
                    <img src="{{post.user.image.url}}" alt="">
                    <div>Posts: <u>45</u></div>
                    <div>Points: <u>4586</u></div>
                </div>
                <div class="content">
                    {{post.post_content|safe}}
                    <br>
                    <div class="comment">
                        <button onclick="showComment()">Comment</button>
                    </div>
                </div>
            </div>
        </div>

        <!--Comment Area-->
        <form action="." method="post">
            {% csrf_token %}
        <div class="comment-area hide" id="comment-area">
            <textarea name="comment" id="" placeholder="comment here ... "></textarea>
            <input type="submit" value="submit" name="comment-form">
        </div>
        </form>

        <!--Comments Section-->
        {%for comment in post.comments.all%}
        <div class="comments-container">
            <div class="body">
                <div class="authors">
                    <div class="username"><a href="">{{comment.user.user.username}}</a></div>
                    <div>Role</div>
                    <img src="{{comment.user.image.url}}" alt="">
                    <div>Posts: <u>{{comment.user.num_posts}}</u></div>
                    <div>Points: <u>{{comment.user.points}}</u></div>
                </div>
                <div class="content">
                  {{comment.content}}
                    <br>
                    <div class="comment">
                        <button onclick="showReplies('comment{{comment.id}}')">Reply</button>
                    </div>
                </div>
            </div>
        </div>
        <!--Reply Area-->
       <form action="." method="post">
            {% csrf_token %}
            <div class="comment-area hide" id="comment{{comment.id}}">
                <textarea name="reply" id="" placeholder="reply here ... "></textarea>
                <input type="submit" value="submit" name="reply-form">
                <input type="hidden" name="comment-id" value="{{comment.id}}">
            </div>
        </form>
        <!--Reply Section-->
        {% for reply in comment.replies.all %}
           <div class="comments-container" style="width: 95%; margin-left:5%;">
            <div class="body">
                <div class="authors">
                    <div class="username"><a href="">{{reply.user.username}}</a></div>
                    <div>Role</div>
                    <img src="{{comment.user.image.url}}" alt="">
                    <div>Posts: <u>{{reply.user.num_posts}}</u></div>
                    <div>Points: <u>{{reply.user.points}}</u></div>
                </div>
                <div class="content">
                  {{reply.reply_content}}
                </div>
            </div>
        </div>
        {% endfor %}
        {% endfor %}
        {%endblock%}